<footer>
  <div class="foot-inner">
    <div class="foot-col">
      <div>© Mike Charlie Co 2026. All Rights Reserved.</div>
      <div>Good Things for Everyday.</div>
      <div>Filipino-Made Soaps and Goods.</div>
      <div>Arevalo, Iloilo City, Philippines</div>
    </div>
    <div class="foot-col">
      <div class="foot-col-title">Connect with us!</div>
      <a href="https://www.instagram.com/mikecharlieco/" target="_blank">Instagram</a>
      <a href="https://www.threads.com/mikecharlieco/" target="_blank">Threads</a>
      <a href="https://www.facebook.com/mikecharlieco" target="_blank">Facebook</a>
      <a href="https://m.me/mikecharlieco" target="_blank">Messenger</a>
      <a href="https://wa.me/message/T7LXVS3L74A5C1" target="_blank">Whatsapp</a>
      <a href="viber://add?number=639760467782" target="_blank">Viber</a>
      <a href="imessage://+639760467782" target="_blank">iMessage</a>
      <a href="mailto:mikecharlieph@gmail.com">Email Us</a>
    </div>
    <div class="foot-col">
      <a href="/">Shop</a>
      <a href="/hotel-partner-program">Hotel Partner Program</a>
      <button class="foot-link-btn" onclick="openAuthModal()">Log In/Sign Up</button>
    </div>
  </div>
</footer>
